@font-face {
  font-family: "Drone Ranger Pro";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/dronerangerpro_bold.otf");
}

@plugin 'tailwindcss-animate';

@import "tailwindcss";

::-webkit-scrollbar {
  position: absolute;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #777777;
}

::-webkit-scrollbar-thumb {
  background: #ffcc21;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4a800;
}
.ant-tooltip-inner {
  background-image: linear-gradient(to right, #da458f, #da34dd) !important;
  font-weight: 600;
  font-size: 16px;
}
.ant-tooltip-arrow::before {
  background-image: linear-gradient(to right, #da458f, #da34dd) !important;
}
:root {
  position: relative;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;

  background: radial-gradient(at 60% 75%, #1a1a3a 0%, #000000 70%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

@keyframes twinkle {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.3;
  }
}
